#some whatever
forge-1.8-11.14.0.1299-src/eclipse/
forge-1.8-11.14.0.1299-src/bin/
forge-1.8-11.14.0.1299-src/.settings/
forge-1.8-11.14.0.1299-src/.gradle/
forge-1.8-11.14.0.1299-src/build/
forge-1.8-11.14.0.1299-src/gradle/
forge-1.8-11.14.0.1299-src/.classpath
forge-1.8-11.14.0.1299-src/.project
forge-1.8-11.14.0.1299-src/forge-1.8*
forge-1.8-11.14.0.1299-src/build.gradle
forge-1.8-11.14.0.1299-src/CRED*
forge-1.8-11.14.0.1299-src/grad*
forge-1.8-11.14.0.1299-src/LIC*
forge-1.8-11.14.0.1299-src/RE*
forge-1.8-11.14.0.1299-src/Min*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
